{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
	<head>

		{{ block('head_brand') }}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="css/pixel.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">



		<script id="card-template" type="text/x-handlebars-template">
			{% verbatim %}
				{{#each post}}
					<div class="blog-card">
					    <div class="card shadow-soft border-light">
					        <a href="{{URL}}"" target="_blank">
					        	<img src="{{social-img}}" class="card-img-top" alt="image">
					        </a>
					        <div class="card-header">
					            <div class="post-meta d-block">
					                <span class="small text-gray"><i class="far fa-clock mr-2"></i>{{year}}</span>
					                <span class="badge badge-secondary text-uppercase pull-right">{{keyword}}</span>
					            </div>
					        </div>
					        <div class="card-body pt-0">
					            <a href="{{URL}}"" target="_blank">
					                <h4>{{titre}}</h4>
					            </a>
					            <p class="card-text my-2">{{description}}</p>
					        </div>

					    </div>
					</div>
				{{/each}}
			{% endverbatim %}
		</script>
	</head>
	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}



		<header>



		</header>

		<div class="container">

			<div class="jumbotron">
				<h1 class="display-2">Notre sélection de formats interactifs</h1>
				<p class="lead">Cartes, quiz, grands formats et outils interactifs: sélection de formats spéciaux du Temps, de 2015 à ce jour.</p>
				<hr class="my-4">
				<p>Le code source de la plupart de ces projets est disponible sur GitHub (<a href="https://github.com/labsletemps/?tab=repositories">github.com/labsletemps</a> et <a href="https://github.com/Citcatjoe?tab=repositories">github.com/Citcatjoe</a>).</p>
				<!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
			</div>

			<div class="card-container"></div>

					{# <div class="blog-card">
					    <div class="card shadow-soft border-light">
					        <img src="img/article/social-federer.jpg" class="card-img-top" alt="image">
					        <div class="card-header">
					            <div class="post-meta d-block">
					                <span class="small text-gray"><i class="far fa-clock mr-2"></i>Last updated 3 mins ago</span>
					            </div>
					        </div>
					        <div class="card-body pt-0">
					            <a href="#">
					                <h4>Remote workers, here's how to dodge</h4>
					            </a>
					            <p class="card-text my-2">According to some historical records, some people out
					                there have boundless energy, loads of free time, and ambition...</p>
					        </div>
					        <div class="card-footer mx-4 px-0 pt-0">
					            <a class="btn btn-sm btn-secondary" href="#">
					                Read More
					            </a>
					        </div>
					    </div>
					</div>
					<div class="blog-card">
					    <div class="card shadow-soft border-light">
					        <img src="img/article/social-groen.jpg" class="card-img-top" alt="image">
					        <div class="card-header">
					            <div class="post-meta d-block">
					                <span class="small text-gray"><i class="far fa-clock mr-2"></i>Last updated 3 mins ago</span>
					            </div>
					        </div>
					        <div class="card-body pt-0">
					            <a href="#">
					                <h4>Remote workers, here's how to dodge</h4>
					            </a>
					            <p class="card-text my-2">According to some historical records, some people out
					                there have boundless energy, loads of free time, and ambition...</p>
					        </div>
					        <div class="card-footer mx-4 px-0 pt-0">
					            <a class="btn btn-sm btn-secondary" href="#">
					                Read More
					            </a>
					        </div>
					    </div>
					</div>



					<div class="blog-card">
					    <div class="card shadow-soft border-light">
					        <img src="img/article/social-femme.jpg" class="card-img-top" alt="image">
					        <div class="card-header">
					            <div class="post-meta d-block">
					                <span class="small text-gray"><i class="far fa-clock mr-2"></i>Last updated 3 mins ago</span>
					            </div>
					        </div>
					        <div class="card-body pt-0">
					            <a href="#">
					                <h4>Remote workers, here's how to dodge</h4>
					            </a>
					            <p class="card-text my-2">According to some historical records, some people out
					                there have boundless energy, loads of free time, and ambition...</p>
					        </div>
					        <div class="card-footer mx-4 px-0 pt-0">
					            <a class="btn btn-sm btn-secondary" href="#">
					                Read More
					            </a>
					        </div>
					    </div>
					</div>
					<div class="blog-card">
					    <div class="card shadow-soft border-light">
					        <img src="img/article/social-pinchat.jpg" class="card-img-top" alt="image">
					        <div class="card-header">
					            <div class="post-meta d-block">
					                <span class="small text-gray"><i class="far fa-clock mr-2"></i>Last updated 3 mins ago</span>
					            </div>
					        </div>
					        <div class="card-body pt-0">
					            <a href="#">
					                <h4>Remote workers, here's how to dodge</h4>
					            </a>
					            <p class="card-text my-2">According to some historical records, some people out
					                there have boundless energy, loads of free time, and ambition...</p>
					        </div>
					        <div class="card-footer mx-4 px-0 pt-0">
					            <a class="btn btn-sm btn-secondary" href="#">
					                Read More
					            </a>
					        </div>
					    </div>
					</div> #}



		</div>
		<div class="container">
			<div class="jumbotron">
				<p>Retrouvez tous nos formats interactifs sur <a href="https://www.letemps.ch/images/interactif">letemps.ch/images/interactif</a>.</p>
			</div>
		</div>
		<footer>
		</footer>

		{{ block('footer_brand') }}
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>



		<script src="js/pixel.js"></script>
        <script src="js/main.js"></script>



	</body>
</html>
