{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>
	<head>

		{{ block('head_brand') }}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="css/pixel.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
	
		
		
		<script id="event-template" type="text/x-handlebars-template">
		{% verbatim %}
			{{#each post}}
				<div class="event {{#givesEventPremium custom_fields.event_is_premium }}{{/givesEventPremium}} {{#givesEventCategory categories.0.slug }}{{/givesEventCategory}} {{#givesEventYear custom_fields.event_date }}{{/givesEventYear}} {{#testIfPastEventClass custom_fields.event_date }}{{/testIfPastEventClass}}" data-status="{{#testIfPastEventClass custom_fields.event_date }}{{/testIfPastEventClass}}" data-date="{{#testIfPastEventOrder custom_fields.event_date id }}{{/testIfPastEventOrder}}" data-title="{{slug}}">
					<div class="card card-wide mdl-card mdl-shadow--2dp" card-url="https://www.letemps.ch">
						<div class="card-header mdl-card__title" style="background: url('{{thumbnail_images.et-pb-post-main-image-fullwidth.url}}')">
							<!--{{#checkIfPremium custom_fields.event_is_premium }}{{/checkIfPremium}}-->
							<div class="card-overlay">
								<h1 class="card-title mdl-card__title-text">{{{title}}}</h1>
							</div>
							
						</div>
						<div class="card-desc mdl-card__supporting-text">					
							<span class="card-meta"><span class""card-meta--date>{{#formatDate custom_fields.event_date }}{{/formatDate}}</span><span class="card-meta--tag">#{{categories.0.title}}</span></span>
							{{custom_fields.event_desc}}
						</div>

						<div class="card-footer mdl-card__supporting-text">
							<a href="{{custom_fields.event_url}}" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect {{#testIfPastEventClass custom_fields.event_date }}{{/testIfPastEventClass}}">
						      Je participe
						    </a>
							<!--{{{custom_fields.event_where}}}-->
							
							<a href="{{custom_fields.event_google_map_url}}" target="_blank" id="card-nav-menu-{{id}}" class="nav-menu mdl-button mdl-js-button mdl-button--icon">
							  <i class="material-icons">location_on</i>
							</a>
							<button id="card-share-menu-{{id}}" class="share-menu mdl-button mdl-js-button mdl-button--icon">
							  <i class="material-icons">share</i>
							</button>
							<ul class="grid--event--share mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect share-menu--content"
							    data-mdl-for="card-share-menu-{{id}}">
							  <a href="https://www.facebook.com/sharer.php?u={{custom_fields.event_url}}&display=popup&ref=plugin&src=share_button" target="_blank"><li class="mdl-menu__item">Facebook</li></a>
							  <a href="https://twitter.com/intent/tweet?text=Les événement du Temps – {{title}} - {{custom_fields.event_url}}&via=letemps" target="_blank"><li class="mdl-menu__item">Twitter</li></a>
							  <a target="blank" href="https://www.linkedin.com/shareArticle?url={{custom_fields.event_url}}&mini=true&title={{title}}&summary={{custom_fields.event_desc}}&source={{'Le Temps'}}"><li class="mdl-menu__item">Linkedin</li></a>
							</ul>
						</div>
					</div>
				</div>
			{{/each}}
		{% endverbatim %}
		</script>
	</head>
	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}

		

		<header>
			
			

		</header>

		<div class="container">

			<div class="jumbotron">
				<h1 class="display-2">Die besten Arbeiten</h1>
				<p class="lead">Animationen, Karten, Infografiken, Datenprojekte und neue Storytelling-Formate von Marc Brupbacher, Kaspar Manz, Mathias Lutz, Patrick Vögeli und Sebastian Broschinski</p>
				<hr class="my-4">
				<p>Open Source: Gitlab, npm</p>
				<!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
			</div>


			<div class="row">
				<div class="col-sm">
					<div class="blog-card">
					    <div class="card shadow-soft border-light">
					        <img src="img/article/social-federer.jpg" class="card-img-top" alt="image">
					        <div class="card-header">
					            <div class="post-meta d-block">
					                <span class="small text-gray"><i class="far fa-clock mr-2"></i>Last updated 3 mins ago</span>
					            </div>
					        </div>
					        <div class="card-body pt-0">
					            <a href="#">
					                <h4>Remote workers, here's how to dodge</h4>
					            </a>
					            <p class="card-text my-2">According to some historical records, some people out
					                there have boundless energy, loads of free time, and ambition...</p>
					        </div>
					        <div class="card-footer mx-4 px-0 pt-0">
					            <a class="btn btn-sm btn-secondary" href="#">
					                Read More
					            </a>
					        </div>
					    </div>
					</div>
				</div>
				<div class="col-sm">
					<div class="blog-card">
					    <div class="card shadow-soft border-light">
					        <img src="img/article/social-groen.jpg" class="card-img-top" alt="image">
					        <div class="card-header">
					            <div class="post-meta d-block">
					                <span class="small text-gray"><i class="far fa-clock mr-2"></i>Last updated 3 mins ago</span>
					            </div>
					        </div>
					        <div class="card-body pt-0">
					            <a href="#">
					                <h4>Remote workers, here's how to dodge</h4>
					            </a>
					            <p class="card-text my-2">According to some historical records, some people out
					                there have boundless energy, loads of free time, and ambition...</p>
					        </div>
					        <div class="card-footer mx-4 px-0 pt-0">
					            <a class="btn btn-sm btn-secondary" href="#">
					                Read More
					            </a>
					        </div>
					    </div>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-sm">
					<div class="blog-card">
					    <div class="card shadow-soft border-light">
					        <img src="img/article/social-femme.jpg" class="card-img-top" alt="image">
					        <div class="card-header">
					            <div class="post-meta d-block">
					                <span class="small text-gray"><i class="far fa-clock mr-2"></i>Last updated 3 mins ago</span>
					            </div>
					        </div>
					        <div class="card-body pt-0">
					            <a href="#">
					                <h4>Remote workers, here's how to dodge</h4>
					            </a>
					            <p class="card-text my-2">According to some historical records, some people out
					                there have boundless energy, loads of free time, and ambition...</p>
					        </div>
					        <div class="card-footer mx-4 px-0 pt-0">
					            <a class="btn btn-sm btn-secondary" href="#">
					                Read More
					            </a>
					        </div>
					    </div>
					</div>
				</div>
				<div class="col-sm">
					<div class="blog-card">
					    <div class="card shadow-soft border-light">
					        <img src="img/article/social-pinchat.jpg" class="card-img-top" alt="image">
					        <div class="card-header">
					            <div class="post-meta d-block">
					                <span class="small text-gray"><i class="far fa-clock mr-2"></i>Last updated 3 mins ago</span>
					            </div>
					        </div>
					        <div class="card-body pt-0">
					            <a href="#">
					                <h4>Remote workers, here's how to dodge</h4>
					            </a>
					            <p class="card-text my-2">According to some historical records, some people out
					                there have boundless energy, loads of free time, and ambition...</p>
					        </div>
					        <div class="card-footer mx-4 px-0 pt-0">
					            <a class="btn btn-sm btn-secondary" href="#">
					                Read More
					            </a>
					        </div>
					    </div>
					</div>
				</div>
				
			</div>

		</div>
		
		<footer>
		</footer>
		
		{{ block('footer_brand') }}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>


        
		<script src="js/pixel.js"></script>
        <script src="js/main.js"></script>

       
		
	</body>
</html>